---
---
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

h1 {
  font-size: 125%;
  font-weight: 600;
  margin-bottom: 8px;
}

h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

h3 {
  // font-weight: 400;
  text-align: center;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0.5px solid #CCCCCC;
}

p {
  line-height: 1.5;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
}
.container {
    width:  90%;
    margin: 0 auto;
    max-width: 736px;
    // margin: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

nav {
  margin-bottom: 32px;
  text-align: center;
  a {
    text-decoration: inherit;

    h1.site-name {
      font-weight: 400;
      font-size: 1.2em;
      color: #868686;
      letter-spacing: 0.5em;
      margin-bottom: 24px;
    }
    img.wireframe {
      width: 360px;
    }
  }
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Home page */
.home-page {
  .introduction {
    margin-bottom: 32px;
  }
}

/* Project page */
.project-page {
  img.hero {
    width: 100%;
    margin-bottom: 16px;
  }
  .hero-video {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-bottom: 16px;
  }
  .hero-video iframe {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.project-summary-block {
  width: 100%;
  margin-bottom: 32px;

  .title-and-dates {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .title {
      font-weight: 600;
    }
  }
}

.content {
  margin-bottom: 32px;

  p {
    margin-bottom: 32px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .image-with-caption {
    width: 45%;
    img {
      width: 100%;
    }
    p.caption {
      margin-bottom: 32px;
    }
  }
}

.project-selector {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    width: 45%;
    text-decoration: inherit;
    color: inherit;

    .project-preview {
      img {
        width: 100%;
      }
    }
  }
}

/* Responsive */
@media only screen and (max-width: 620px) {
    .project-selector > a {
      width: 100%;
    }
    .gallery > .image-with-caption {
      width: 100%;
    }
}
