<div class="project-selector">
	{% for project in site.projects %}
		{% unless page.url == project.url %}
		<a href="{{project.url}}" title="View project">
			<div class="project-preview">
        <img class="preview-image" src="/assets/{{ project.id }}_hero.png">
				<div class="project-summary-block">
					<div class="title-and-dates">
						<h2 class="title">{{project.title}}</h2>
						<p class="dates">{{project.dates}}</p>
					</div>
					<p>{{project.roles}}</p>
				</div>
			</div>
		</a>
		{% endunless %}
	{% endfor %}
</div>
