<div class="project-selector">
	{% assign sorted = (site.projects | sort: 'order') %}
	{% for project in sorted %}
		{% unless page.url == project.url %}
		<a href="{{project.url}}" title="View project">
			<div class="project-preview">
        <img class="preview-image" src="/assets/{{ project.id }}_hero.png">
				<div class="project-summary-block">
					<div class="title-and-dates">
						<h2 class="title">{{project.title}}</h2>
						<p class="dates">{{project.dates}}</p>
					</div>
					<p>{{project.roles}}</p>
				</div>
			</div>
		</a>
		{% endunless %}
	{% endfor %}
</div>

<!-- <div class="gallery">
	{% for image in page.images %}
	<div class="image-with-caption">
		<img src="/assets/projects/{{ image.filename }}">  
		<p class="caption">{{image.caption}}</p>
	</div>
	{% endfor %}
</div> -->
