<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,600" rel="stylesheet">
		</head>
		<body>
			<div class="container">
				<nav>
					<a href="/">
	      		<h1 class="site-name">JACK SOUTHARD</h1>
						<img class="wireframe" src="/assets/wireframe.png"/>
					</a>
				</nav>

			{{ content }}

			</div><!-- /.container -->
		</body>
	</html>
